/* recordemos que host se le aplicara a todos los elementos en el componente */
:host{
    display: block;
    background-color: #ededed;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
    padding: 1em 0 0 0;
}
div{
    min-height: 100%;
}

a{
    cursor: pointer;
    display:inline-block;
    margin-bottom: 1em;
}

.btn{
    display: block;
    padding: 1em;
    margin: 0 auto;  
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
    border: none;
    border-radius: 6px;
}
.info{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    text-align: justify;
    max-width: 40%;
}
.color{
    display: block;
    margin-top: 20px;
    text-align: center;
}
.btn:hover{
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    margin:-5px auto 25px auto;
}
.btn-verde{
    background-color: #34dd34;
    color: black;
}
.btn-azul{
    background-color: #1a1add;
    color: white;
}


@media (min-width: 992px){
    li:first-child{
        margin-left: 5em;
    }
}
@media (max-width: 991px){
    li{
        text-align: center;
        margin: auto;
        display: block;
        min-width: 100%;
    }
    ul{
        min-width: 100%;
    }
    a{
        min-width: 100%; 
    }
} 