/* recordemos que host se le aplicara a todos los elementos en el componente */
:host{
    display: block;
    background-color: #ededed;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
    padding: 1em;
}
div{
    min-height: 100%;
}


.btn{
    display: block;
    padding: 1em;
    margin: auto;  
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
    border: none;
    border-radius: 6px;
}
.btn:hover{
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}
.btn-verde{
    background-color: #34dd34;
    color: black;
}
.btn-azul{
    background-color: #3434dd;
    color: white;
}